@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat; }

section {
  margin: 0 auto;
  padding: 0; }

.navbar {
  background-color: #2a2f55;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  padding: 0; }
  .navbar .inner {
    margin: 0 auto;
    width: 65%; }
    .navbar .inner .logo {
      float: left;
      margin: 0 auto;
      padding: 0; }
      .navbar .inner .logo a {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        margin: 15px auto;
        margin-left: 0;
        padding: 0;
        width: 135px;
        height: 45px;
        background: url("https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
    .navbar .inner .nav {
      margin: 0 auto;
      height: 75px;
      float: right; }
      .navbar .inner .nav ul {
        margin: 0;
        list-style: none; }
      .navbar .inner .nav li {
        display: inline-block;
        margin-right: 15px; }
      .navbar .inner .nav a {
        display: block;
        text-decoration: none;
        line-height: 75px;
        color: #f3f3f3; }

#main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: inline-block;
  z-index: 500;
  position: relative; }
  #main #home {
    width: 100%;
    height: 850px;
    margin: 0 auto;
    padding: 0;
    background: url(test.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 500; }
    #main #home:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right, rgba(42, 47, 85, 0.7), rgba(42, 8, 69, 0.7));
      overflow: hidden; }
    #main #home .inner {
      width: 65%;
      height: 750px;
      margin: 0 auto; }
      #main #home .inner .section-title {
        display: none; }
      #main #home .inner .section-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 65%;
        height: 750px; }
        #main #home .inner .section-content .hero-unit {
          display: block;
          margin-top: 20%; }
          #main #home .inner .section-content .hero-unit h1 {
            width: 50%;
            color: #f3f3f3;
            font-size: 78px;
            margin: 5px auto;
            margin-right: 50%;
            float: left; }
          #main #home .inner .section-content .hero-unit p:nth-child(2) {
            width: 50%;
            font-size: 24px;
            font-weight: 200; }
          #main #home .inner .section-content .hero-unit p {
            width: 100%;
            color: #f3f3f3; }
            #main #home .inner .section-content .hero-unit p .large {
              border: 2px solid #222222;
              border-radius: 5px;
              color: #f3f3f3;
              background-color: #1e1e42;
              padding: 10px;
              text-decoration: none;
              font-size: 18px;
              font-weight: 400;
              transition: .5s; }
              #main #home .inner .section-content .hero-unit p .large:hover {
                border: 2px solid #1e1e42;
                color: #222222;
                background-color: #f3f3f3;
                transition: .5s;
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75); }
            #main #home .inner .section-content .hero-unit p .arrow-down {
              position: absolute;
              bottom: 0;
              text-indent: 100%;
              white-space: nowrap;
              overflow: hidden;
              display: block;
              margin: 0;
              padding: 0;
              width: 100%;
              height: 50px;
              background: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53Yk5jNFZaT1JLdkU");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
              text-align: center;
              animation: slidein 2s infinite; }
              #main #home .inner .section-content .hero-unit p .arrow-down:hover {
                animation-play-state: paused; }

@keyframes slidein {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }
  #main #introduction {
    z-index: 500;
    position: relative; }
    #main #introduction .inner .section-title {
      width: 100%;
      height: auto;
      display: block; }
      #main #introduction .inner .section-title h1 {
        width: 100%;
        color: #222222;
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px; }
      #main #introduction .inner .section-title p {
        width: 100%;
        color: #2a2f55;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 150px; }
    #main #introduction .inner .section-content {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0; }
      #main #introduction .inner .section-content ul {
        column-count: 3;
        column-gap: 0px;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        #main #introduction .inner .section-content ul li {
          width: 100%;
          margin: 0 auto;
          padding: 0;
          background-size: cover;
          overflow: hidden;
          position: relative; }
          #main #introduction .inner .section-content ul li:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, rgba(42, 47, 85, 0.7), rgba(42, 8, 69, 0.7));
            overflow: hidden; }
          #main #introduction .inner .section-content ul li .section-img {
            height: 350px; }
          #main #introduction .inner .section-content ul li h2 {
            color: #f3f3f3;
            font-weight: 300;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 95%;
            height: 35%;
            text-align: center;
            font-size: 36px; }
          #main #introduction .inner .section-content ul li .content {
            margin: 10px auto; }
            #main #introduction .inner .section-content ul li .content p {
              color: #f3f3f3;
              font-weight: 200;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 50%;
              height: 10%;
              text-align: center; }
        #main #introduction .inner .section-content ul li:first-of-type {
          background: url(test.jpg) center center no-repeat; }
        #main #introduction .inner .section-content ul li:nth-of-type(2) {
          background-image: url("https://images.pexels.com/photos/267447/pexels-photo-267447.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"); }
        #main #introduction .inner .section-content ul li:nth-of-type(3) {
          background-image: url("https://images.pexels.com/photos/541525/pexels-photo-541525.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"); }
  #main #portfolio {
    z-index: 500;
    position: relative; }
    #main #portfolio .section-title {
      width: 100%;
      height: auto;
      display: block; }
      #main #portfolio .section-title h1 {
        width: 100%;
        color: #222222;
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px; }
      #main #portfolio .section-title p {
        width: 100%;
        color: #2a2f55;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 150px; }
    #main #portfolio .section-content .thumbnails {
      column-count: 4;
      column-gap: 0px;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #main #portfolio .section-content .thumbnails li {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        padding: 0;
        background-size: 125%;
        overflow: hidden;
        position: relative;
        transition: .5s; }
        #main #portfolio .section-content .thumbnails li:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to bottom right, rgba(42, 47, 85, 0.7), rgba(42, 8, 69, 0.7));
          overflow: hidden;
          transition: .5s; }
        #main #portfolio .section-content .thumbnails li div {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 50%;
          text-align: center; }
          #main #portfolio .section-content .thumbnails li div .screenshot a img {
            display: none; }
          #main #portfolio .section-content .thumbnails li div .caption {
            text-align: center; }
            #main #portfolio .section-content .thumbnails li div .caption h2 a {
              color: #f3f3f3;
              text-decoration: none;
              font-size: 28px; }
            #main #portfolio .section-content .thumbnails li div .caption p {
              color: #f3f3f3; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(1) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/209151/pexels-photo-209151.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(1):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(1):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(1) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(2) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/354304/pexels-photo-354304.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(2):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(2):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(2) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(3) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/7764/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(3):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(3):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(3) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(4) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/34406/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(4):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(4):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(4) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(5) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(5):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(5):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(5) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(6) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(6):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(6):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(6) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(7) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/161154/stained-glass-spiral-circle-pattern-161154.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(7):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(7):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(7) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(8) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/260998/pexels-photo-260998.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(8):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(8):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(8) .screenshot a img {
          display: none; }
      #main #portfolio .section-content .thumbnails li:nth-of-type(9) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/260998/pexels-photo-260998.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(9):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .section-content .thumbnails li:nth-of-type(9):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .section-content .thumbnails li:nth-of-type(9) .screenshot a img {
          display: none; }
    #main #portfolio .item .thumbnails {
      column-count: 4;
      column-gap: 0px;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #main #portfolio .item .thumbnails li {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        padding: 0;
        background-size: 125%;
        overflow: hidden;
        position: relative;
        transition: .5s; }
        #main #portfolio .item .thumbnails li:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to bottom right, rgba(42, 47, 85, 0.7), rgba(42, 8, 69, 0.7));
          overflow: hidden;
          transition: .5s; }
        #main #portfolio .item .thumbnails li div {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 50%;
          text-align: center; }
          #main #portfolio .item .thumbnails li div .screenshot a img {
            display: none; }
          #main #portfolio .item .thumbnails li div .caption {
            text-align: center; }
            #main #portfolio .item .thumbnails li div .caption h2 a {
              color: #f3f3f3;
              text-decoration: none;
              font-size: 28px; }
            #main #portfolio .item .thumbnails li div .caption p {
              color: #f3f3f3; }
      #main #portfolio .item .thumbnails li:nth-of-type(1) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/260998/pexels-photo-260998.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(1):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(1):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(1) .screenshot a img {
          display: none; }
      #main #portfolio .item .thumbnails li:nth-of-type(2) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/147413/twitter-facebook-together-exchange-of-information-147413.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(2):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(2):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(2) .screenshot a img {
          display: none; }
      #main #portfolio .item .thumbnails li:nth-of-type(3) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/42153/pexels-photo-42153.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(3):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(3):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(3) .screenshot a img {
          display: none; }
      #main #portfolio .item .thumbnails li:nth-of-type(4) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/188975/holocaust-memorial-berlin-holocaust-memorial-188975.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(4):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(4):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(4) .screenshot a img {
          display: none; }
      #main #portfolio .item .thumbnails li:nth-of-type(5) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/567449/pexels-photo-567449.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(5):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(5):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(5) .screenshot a img {
          display: none; }
      #main #portfolio .item .thumbnails li:nth-of-type(6) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/325702/pexels-photo-325702.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(6):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(6):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(6) .screenshot a img {
          display: none; }
      #main #portfolio .item .thumbnails li:nth-of-type(7) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/35177/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(7):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(7):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(7) .screenshot a img {
          display: none; }
      #main #portfolio .item .thumbnails li:nth-of-type(8) {
        display: block;
        width: 100%;
        height: 350px;
        background: url(https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center;
        background-size: 125%; }
        #main #portfolio .item .thumbnails li:nth-of-type(8):hover {
          background-size: 150%;
          transition: .5s; }
          #main #portfolio .item .thumbnails li:nth-of-type(8):hover:before {
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
            transition: .5s; }
        #main #portfolio .item .thumbnails li:nth-of-type(8) .screenshot a img {
          display: none; }
  #main #team {
    z-index: 500;
    position: relative; }
    #main #team .section-title {
      width: 100%;
      height: auto;
      display: block; }
      #main #team .section-title h1 {
        width: 100%;
        color: #222222;
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px; }
      #main #team .section-title p {
        width: 100%;
        color: #2a2f55;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 150px; }
    #main #team .section-content .about > p {
      width: 65%;
      color: #f3f3f3;
      background-color: #1e1e42;
      margin: 0 auto;
      padding: 25px 17.5%;
      text-align: center;
      overflow: hidden;
      display: inline-block; }
    #main #team .section-content .about .team > ul {
      column-count: 4;
      column-gap: 0px;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #main #team .section-content .about .team > ul > li:first-child {
        background: url("https://images.pexels.com/photos/428339/pexels-photo-428339.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat; }
      #main #team .section-content .about .team > ul > li:nth-child(2) {
        background: url("https://images.pexels.com/photos/307847/pexels-photo-307847.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat; }
      #main #team .section-content .about .team > ul > li:nth-child(3) {
        background: url("https://images.pexels.com/photos/450271/pexels-photo-450271.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat; }
      #main #team .section-content .about .team > ul > li:nth-child(4) {
        background: url("https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat; }
      #main #team .section-content .about .team > ul > li {
        width: 100%;
        height: 450px;
        margin: 0 auto;
        padding: 0;
        background-size: cover;
        overflow: hidden;
        position: relative;
        transition: .5s; }
        #main #team .section-content .about .team > ul > li:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to bottom right, rgba(42, 47, 85, 0.7), rgba(42, 8, 69, 0.7));
          overflow: hidden;
          transition: .5s; }
        #main #team .section-content .about .team > ul > li:hover .thumbnail {
          display: block;
          transition: .5s; }
        #main #team .section-content .about .team > ul > li:hover:before {
          background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
          transition: .5s; }
        #main #team .section-content .about .team > ul > li .thumbnail {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 50%;
          text-align: center;
          display: none;
          transition: .5s; }
          #main #team .section-content .about .team > ul > li .thumbnail a img {
            display: none; }
          #main #team .section-content .about .team > ul > li .thumbnail .caption {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 75%;
            text-align: center; }
            #main #team .section-content .about .team > ul > li .thumbnail .caption h3 {
              width: 80%;
              margin: 10px auto;
              color: #f3f3f3; }
            #main #team .section-content .about .team > ul > li .thumbnail .caption .meta {
              color: #f3f3f3;
              font-weight: 400; }
            #main #team .section-content .about .team > ul > li .thumbnail .caption p {
              width: 80%;
              margin: 5px auto;
              color: #f3f3f3; }
            #main #team .section-content .about .team > ul > li .thumbnail .caption ul {
              column-count: 3;
              column-gap: 5px;
              list-style-type: none;
              margin: 10px;
              padding: 0; }
              #main #team .section-content .about .team > ul > li .thumbnail .caption ul li a em {
                width: 15px;
                height: 15px; }
  #main #contact {
    z-index: 500;
    position: relative; }
    #main #contact .section-title {
      width: 100%;
      height: auto;
      display: block; }
      #main #contact .section-title h1 {
        width: 100%;
        color: #222222;
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px; }
      #main #contact .section-title p {
        width: 100%;
        color: #2a2f55;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 150px; }
    #main #contact .section-content .info {
      display: block;
      float: left;
      width: 100%;
      height: 100%; }
      #main #contact .section-content .info p {
        color: #f3f3f3;
        width: 65%;
        margin: 0 auto;
        margin-bottom: 2px;
        padding: 25px 17.5%;
        text-align: center;
        background-color: #1e1e42; }
      #main #contact .section-content .info .details {
        background-color: #2a2f55;
        display: inline-block;
        width: 65%;
        height: auto;
        margin: 0 auto;
        padding: 25px 17.5%; }
        #main #contact .section-content .info .details address {
          color: #f3f3f3;
          width: 48%;
          height: 100%; }
        #main #contact .section-content .info .details .left {
          float: left;
          text-align: right; }
          #main #contact .section-content .info .details .left em {
            float: right;
            display: block; }
        #main #contact .section-content .info .details .right {
          float: right !important;
          text-align: left; }
          #main #contact .section-content .info .details .right span {
            float: left !important;
            display: block; }
          #main #contact .section-content .info .details .right a {
            float: left !important;
            display: block;
            text-decoration: none;
            color: #888888; }
    #main #contact .section-content .map iframe {
      width: 100%; }

.footer {
  background-color: #2a2f55;
  width: 100%;
  margin: 0 auto; }
  .footer div {
    display: inline-block;
    width: 100%;
    margin: 0 auto; }
    .footer div .footer-content {
      color: #888888;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 2px;
      padding: 15px 0;
      text-align: center;
      background-color: #2a2f55;
      font-size: 14px;
      display: inline-block; }
    .footer div ul {
      z-index: 0;
      list-style: none;
      position: relative;
      width: 65%;
      height: auto;
      margin: auto;
      padding: 0 17.5%;
      display: flex;
      justify-content: center;
      background-color: #2a2f55;
      border-top: 50px solid #1e1e42; }
      .footer div ul li {
        margin: 25px 50px;
        padding: 0;
        position: relative;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        width: 35px;
        height: 35px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 1;
        transition: .5s ease-in-out; }
        .footer div ul li:before {
          content: '';
          position: absolute;
          overflow: hidden;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
        .footer div ul li:hover {
          opacity: 0.5;
          transition: .5s ease-in-out; }
      .footer div ul li:nth-of-type(1) {
        background-image: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53ZXI5VUJVdVRvSFE"); }
      .footer div ul li:nth-of-type(2) {
        background-image: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53U1ZJOGFiVTNDbVk"); }
      .footer div ul li:nth-of-type(3) {
        background-image: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53aEpER3dpNkg4dE0"); }

.scroll-top {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53Yk5jNFZaT1JLdkU") no-repeat center center/90px 90px;
  background-size: cover;
  height: 35px;
  margin: 15px auto;
  width: 35px;
  margin: 88px auto;
  z-index: 0;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  transition: .25s;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }
  .scroll-top:hover {
    -ms-transform: rotate(180deg) translateY(3px);
    /* IE 9 */
    -webkit-transform: rotate(180deg) translateY(3px);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg) translateY(3px);
    transition: .25s; }

/*# sourceMappingURL=style.css.map */