@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

// colours
$c_01: #4BD1A0;
$c_02: #222222;
$c_03: #2a2f55;
$c_04: #f3f3f3;
$c_05: #888888;
$c_06: #2a0845;
$c_06: #1e1e42;

$g_01: rgba(42,47,85,0.7);
$g_02: rgba(0,0,0,0.75);
$g_03: rgba(75,209,160,0.7);
$g_06: rgba(42,8,69,0.7);

$nav_height: 75px;
$page_width: 65%;

@mixin transition($time) {
   -webkit-transition: $time;
      -moz-transition: $time;
       -ms-transition: $time;
          transition : $time;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat;
}
section {
  margin: 0 auto;
  padding: 0;
}

.navbar {
  background-color: $c_03;
  width: 100%;
  height: $nav_height;
  margin: 0 auto;
  padding: 0;
  .inner {
    margin: 0 auto;
    width: $page_width;
    .logo {
      float: left;
      margin: 0 auto;
      padding: 0;
      a {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        margin: 15px auto;
        margin-left: 0;
        padding: 0;
        width: auto;
        height: ($nav_height - 30px);
        background: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53SlE5X3BtSGsyZWs");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    .nav {
      margin: 0 auto;
      height: $nav_height;
      float: right;
      ul {
        margin: 0;
        list-style: none;
      }
  
      li {
        display: inline-block;
        margin-right: 15px;
      }
      a {
        display: block;
        text-decoration: none;
        line-height: $nav_height;
        color: $c_04;
      }
    }
    
  }
    
}

#main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: inline-block;
  z-index: 500;
  position: relative;
  #home {
    width: 100%;
    height: 850px;
    margin: 0 auto;
    padding: 0;
    background: url('https://images.pexels.com/photos/248159/pexels-photo-248159.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 500;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,$g_01,$g_06);
      overflow: hidden;
    }
    .inner {
      width: $page_width;
      height: 750px;
      margin: 0 auto;
      .section-title {
        display: none;
      }
      .section-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right:0;
        margin: auto;
        width: $page_width;
        height: 750px;
        .hero-unit {
          display: block;
          margin-top: 20%;
          h1 {
            width: 50%;
            color: $c_04;
            font-size: 78px;
            margin: 5px auto;
            margin-right: 50%;
            float: left;
          }
          p:nth-child(2) {
            width: 50%;
            font-size: 24px;
            font-weight: 200;
          }
          p {
            width: 100%;
            color: $c_04;
            .large {
              border: 2px solid $c_02;
              border-radius: 5px;
              color: $c_04;
              background-color: $c_06;
              padding: 10px;
              text-decoration: none;
              font-size: 18px;
              font-weight: 400;
              transition: .5s;
              &:hover {
                border: 2px solid $c_06;
                color: $c_02;
                background-color: $c_04;
                transition: .5s;
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
              }
            }
            .arrow-down {
              position: absolute;
              bottom: 0;
              text-indent: 100%;
              white-space: nowrap;
              overflow: hidden;
              display: block;
              margin: 0;
              padding: 0;
              width: 100%;
              height: 50px;
              background: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53Yk5jNFZaT1JLdkU");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
              text-align: center;
              animation: slidein 2s infinite;
              &:hover {
                animation-play-state: paused ;
              }
            }
            @keyframes slidein {
              0% {
                transform: translateY(0px);
              }
              50% {
                transform: translateY(10px);
              }
              100% {
                transform: translateY(0px);
              }
            }
          }
        }
      }
    }
  }

  #introduction {
    z-index: 500;
    position: relative;
    .inner {
      .section-title {
        width: 100%;
        height: auto;
        display: block;
        h1 {
          width: 100%;
          color: $c_02;
          font-size: 48px;
          margin: 0 auto;
          text-align: center;
          margin-top: 150px;
        }
        p {
          width: 100%;
          color: $c_03;
          font-size: 24px;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 150px;
        }
      }
      .section-content {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        ul {
          column-count: 3;
          column-gap: 0px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            background-size: cover;
            overflow: hidden;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-image: linear-gradient(to bottom right,$g_01,$g_06);
              overflow: hidden;
            }
            .section-img {
              height: 350px;
            }
            h2 {
              color: $c_04;
              position: absolute;
              top: 0;
              bottom: 0;
              left:0;
              right:0;
              margin: auto;
              width: 95%;
              height: 35%;
              text-align: center;
              font-size: 28px;
            }
            .content {
              p {
                color: $c_04;
                font-weight: 200;
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                right:0;
                margin: auto;
                width:50%;
                height: 10%;
                text-align: center;
              }
              
              margin: 10px auto;
            }
          }
          li:first-of-type {
            background: url(test.jpg) center center no-repeat;
            
          }
          li:nth-of-type(2){
            background-image: url('https://images.pexels.com/photos/267447/pexels-photo-267447.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
          }
          li:nth-of-type(3){
            background-image: url('https://images.pexels.com/photos/541525/pexels-photo-541525.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
          }
        }
      }

    }
  }

  #portfolio {
    z-index: 500;
    position: relative;
    .section-title {
      width: 100%;
      height: auto;
      display: block;
      h1 {
        width: 100%;
        color: $c_02;
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px;
      }
      p {
        width: 100%;
        color: $c_03;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 150px;
      }
    }

        .section-content {
            $imagesGroup1:
            "https://images.pexels.com/photos/209151/pexels-photo-209151.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/354304/pexels-photo-354304.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/7764/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/34406/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/161154/stained-glass-spiral-circle-pattern-161154.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/260998/pexels-photo-260998.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/260998/pexels-photo-260998.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb";
            
            $img1: zip($imagesGroup1);
        
            $nthCount: 1;
            .thumbnails {
                column-count: 4;
                column-gap: 0px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                  width: 100%;
                  height: 350px;
                  margin: 0 auto;
                  padding: 0;
                  background-size: 125%;
                  overflow: hidden;
                  position: relative;
                  transition: .5s;
                  &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(to bottom right,$g_01,$g_06);
                    overflow: hidden;
                    transition: .5s;
                  }
                  div {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left:0;
                    right:0;
                    margin: auto;
                    width: 100%;
                    height: 50%;
                    text-align: center;
                    .screenshot {
                      a {
                        img {
                          display: none;
                        }
                      }
                    }
                    .caption {
                      text-align: center;
                      h2 {
                        a {
                          color: $c_04;
                          text-decoration: none;
                          font-size: 28px;
                        }
                      }
                      p {
                        color: $c_04;
                      }
                    }
                  }
                }
                @each $img in $img1 {
                    li:nth-of-type(#{$nthCount}) {
                        // SET SIZE OF IMAGE YOU WANT
                        display: block;
                        width: 100%;
                        height: 350px;
                        background: url(#{nth($img, 1)}) no-repeat center center;
                        background-size: 125%;
                        &:hover {
                          background-size: 150%;
              
                          transition: .5s;
                          &:before {
                            background-image: linear-gradient(to bottom right,$g_02,$g_02);
                            transition: .5s;
                          }
                        }
                        .screenshot {
                            a {
                                
                                img {
                                    display: none;
                                }
                            }
                        }                        
                    }
                    $nthCount: $nthCount + 1;
                }
            }
        }

        .item {
          $imagesGroup:
          "https://images.pexels.com/photos/260998/pexels-photo-260998.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
          "https://images.pexels.com/photos/147413/twitter-facebook-together-exchange-of-information-147413.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
          "https://images.pexels.com/photos/42153/pexels-photo-42153.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
          "https://images.pexels.com/photos/188975/holocaust-memorial-berlin-holocaust-memorial-188975.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
          "https://images.pexels.com/photos/567449/pexels-photo-567449.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
          "https://images.pexels.com/photos/325702/pexels-photo-325702.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
          "https://images.pexels.com/photos/35177/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb",
          "https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb";

          $img: zip($imagesGroup);
          $nthCount: 1;
          .thumbnails {
              column-count: 4;
              column-gap: 0px;
              list-style-type: none;
              margin: 0;
              padding: 0;
              li {
                width: 100%;
                height: 350px;
                margin: 0 auto;
                padding: 0;
                overflow: hidden;
                position: relative;
                transition: .5s;
                &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  background-image: linear-gradient(to bottom right,$g_01,$g_06);
                  overflow: hidden;
                  transition: .5s;
                }
                div {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left:0;
                  right:0;
                  margin: auto;
                  width: 100%;
                  height: 50%;
                  text-align: center;
                  .screenshot {
                    a {
                      img {
                        display: none;
                      }
                    }
                  }
                  .caption {
                    text-align: center;
                    h2 {
                      a {
                        color: $c_04;
                        text-decoration: none;
                        font-size: 28px;
                      }
                    }
                    p {
                      color: $c_04;
                    }
                  }
                }
              }
              @each $img in $img {
                  li:nth-of-type(#{$nthCount}) {
                      // SET SIZE OF IMAGE YOU WANT
                      display: block;
                      width: 100%;
                      height: 350px;
                      background: url(#{nth($img, 1)}) no-repeat center center;
                      background-size: 125%;
                      &:hover {
                        background-size: 150%;
            
                        transition: .5s;
                        &:before {
                          background-image: linear-gradient(to bottom right,$g_02,$g_02);
                          transition: .5s;
                        }
                      }
                      .screenshot {
                          a {
                              
                              img {
                                  display: none;
                              }
                          }
                      }                        
                  }
                  $nthCount: $nthCount + 1;
              }
          }
      }
}
  #team {
    z-index: 500;
    position: relative;
    .section-title {
      width: 100%;
      height: auto;
      display: block;
      h1 {
        width: 100%;
        color: $c_02;
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px;
      }
      p {
        width: 100%;
        color: $c_03;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 150px;
      }
    }
    .section-content {
      .about {
        > p {
          width: $page_width;
          color: $c_04;
          background-color: $c_06;
          margin: 0 auto;
          padding: 25px ((100% - $page_width) / 2);
          text-align: center;
          overflow: hidden;
          display: inline-block;
        }
        .team {
            .thumbnails /* ul */{
            column-count: 4;
            column-gap: 0px;
            list-style-type: none;
            margin: 0;
            padding: 0;

            $imagesGroup1:
            "https://images.pexels.com/photos/428339/pexels-photo-428339.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/307847/pexels-photo-307847.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/450271/pexels-photo-450271.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
            "https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb";
            
            $img: zip($imagesGroup1);
        
            $nthCount: 1;

            @each $img in $img {
              > .profile:nth-of-type(#{$nthCount}) {
                  // SET SIZE OF IMAGE YOU WANT
                  display: block;
                  width: 100%;
                  height: 350px;
                  background: url(#{nth($img, 1)}) no-repeat center center;
                  background-size: 125%;
                  &:hover {
                    background-size: 150%;
        
                    transition: .5s;
                    .thumbnail {
                      display: block;
                      transition: .5s;
                      .caption {
                        .social {
                          display: flex;
                        }
                      }
                      
                    }
                    .social {
                      display: flex;
                    }
                    &:before {
                      background-image: linear-gradient(to bottom right,$g_02,$g_02);
                      transition: .5s;
                    }
                  }  
              }
              $nthCount: $nthCount + 1;
             }
            .profile /* li */{
              width: 100%;
              height: 450px;
              margin: 0 auto;
              padding: 0;
              background-size: cover;
              overflow: hidden;
              position: relative;
              transition: .5s;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to bottom right,$g_01,$g_06);
                overflow: hidden;
                transition: .5s;
              }
              .thumbnail {
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                right:0;
                margin: auto;
                width: 100%;
                height: 50%;
                text-align: center;
                transition: .5s;
                > a {
                  img {
                    display: none;
                  }
                }
                .caption {
                  display: block;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left:0;
                  right:0;
                  margin: auto;
                  width: 100%;
                  height: 75%;
                  text-align: center;
                  h3 {
                    width: 80%;
                    margin: 10px auto;
                    color: $c_04;
                    font-size: 24px;
                    a {
                      color: $c_05;
                      text-decoration: none;
                    }
                  }
                  .meta {
                    color: $c_04;
                    font-weight: 400;
                  }
                  p {
                    width: 80%;
                    margin: 5px auto;
                    color: $c_04;
                  }
                  .social { /* ul */
                    list-style-type: none;
                    margin: 15px auto;
                    padding: 0;
                    width: 50%;
                    display: none;
                    justify-content: center;

                    $imagesGroup2:  //actual
                      "https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53ZXI5VUJVdVRvSFE",
                      "https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53U1ZJOGFiVTNDbVk",
                      "https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53aEpER3dpNkg4dE0";

                      $img2: zip($imagesGroup2);
                  
                      $nth2Count: 1;

                      @each $img in $img2 {
                        li:nth-of-type(#{$nth2Count}) {
                            // SET SIZE OF IMAGE YOU WANT
                            display: block;
                            width: 25px;
                            height: 25px;
                            margin: auto 10px;
                            padding: 0;
                            background: url(#{nth($img, 1)}) no-repeat center center;
                            background-size: cover;
                            transition: .5s;
                            opacity: 1;
                            &:hover {
                              transition: .5s;
                              opacity: .5;
                            }                       
                        }
                        $nth2Count: $nth2Count + 1;
                       }
                  }
                }
              }
            }
          }
        }
      }
    }

  }
}
  #contact {
    z-index: 500;
    position: relative;
    .section-title {
      width: 100%;
      height: auto;
      display: block;
      h1 {
        width: 100%;
        color: $c_02;
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px;
      }
      p {
        width: 100%;
        color: $c_03;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 150px;
      }
    }
    .section-content {
      .info {
        display: block;
        float: left;
        width: 100%;
        height: 100%;
        p {
          color: $c_04;
          width: $page_width;
          margin: 0 auto;
          margin-bottom: 2px;
          padding: 25px ((100% - $page_width) / 2);
          text-align: center;
          background-color: $c_06;
        }
        .details {
          background-color: $c_03;
          display: inline-block;
          width: $page_width;
          height: auto;
          margin: 0 auto;
          padding: 25px ((100% - $page_width) / 2);
          address {
            color: $c_04;
            width: 48%;
            height: 100%;
          }
          .left {
            float: left;
            text-align: right;
            em {
              float: right;
              display: block;
            }
          }
          .right {
            float: right !important;
            text-align: left;
            span {
              float: left !important;
              display: block;
            }
            a {
              float: left !important;
              display: block;
              text-decoration: none;
              color: $c_05;
            }
          }
        }
      }
      .map {
        iframe {
          width: 100%;
        }
      }
    }
  }

.footer {
  background-color: $c_03;
  width: 100%;
  margin: 0 auto;
  div {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    .footer-content {
      color: $c_05;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 2px;
      padding: 15px 0;
      text-align: center;
      background-color: $c_03;
      font-size: 14px;
      display: inline-block;
    }

    ul /* .social */ {
      z-index: 0;
      list-style: none;
      position: relative;
      width: $page_width;
      height: auto;
      margin: auto;
      padding: 0 ((100% - $page_width) / 2);
      display: flex;
      justify-content: center;
      background-color: $c_03;
      border-top: 50px solid $c_06;
      li {
          margin: 25px 50px;
          padding: 0;
          position: relative;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          width: 35px;
          height: 35px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          opacity: 1;
          transition: .5s ease-in-out;
          &:before {
            content: '';
            position: absolute;
            overflow: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
          &:hover {
            opacity: 0.5;
            transition: .5s ease-in-out;
          }
      }
      li:nth-of-type(1) {
          background-image: url('https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53ZXI5VUJVdVRvSFE');
      } 
      li:nth-of-type(2) {
          background-image: url('https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53U1ZJOGFiVTNDbVk');
      }
      li:nth-of-type(3) {
          background-image: url('https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53aEpER3dpNkg4dE0');
      }
    }

  }
  
}
.scroll-top {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://drive.google.com/uc?export=view&id=0Bwu5EGqxLm53Yk5jNFZaT1JLdkU") no-repeat center center/90px 90px;
  background-size: cover;
  height: 35px;
  margin: 15px auto;
  width: 35px;
  margin: 88px auto;
  z-index: 0;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  transition: .25s;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  &:hover {
    -ms-transform: rotate(180deg) translateY(3px); /* IE 9 */
    -webkit-transform: rotate(180deg) translateY(3px); /* Chrome, Safari, Opera */
    transform: rotate(180deg) translateY(3px);
    transition: .25s;
  }
}
